@import '../../../../colors.scss';

.notification-card {
  background-color: $twitter-black;
  border: 1px solid #444;
  box-sizing: border-box;
  color: $twitter-white;
  display: block;
  padding: 0 0.8rem;
  margin-bottom: 1rem;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid $twitter-dark-gray
  }

  &__message {
    text-align: left;
  }

  &__name {
    font-weight: 700;
    text-align: left;
  }

  &__content {
    text-align: justify;
    color: $twitter-dark-gray;
  }
}
