<article class="notification-card">
  <p class="notification-card__message">
    <span class="notification-card__name">{{ notification.name }}</span> {{ notification.message }}
  </p>
  <p class="notification-card__content">{{ notification.content }}</p>

  <div *ngIf="isAdmin()">
    <label for="authorDropdown">Select Author:</label>
    <select (ngModelChange)="loadAuthors()" [(ngModel)]="selectedAuthorId" id="authorDropdown">
      <option *ngFor="let author of authors" [value]="author.id">{{ author.firstName + ' ' + author.lastName }}</option>
    </select>

    <button (click)="updateAuthor()">Update Author</button>
  </div>
</article>
