@import '../../colors.scss';

#search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  height: 2rem;
  color: $twitter-white;
  background-color: #444;
  border: 1px solid #444;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}
