@import '../../../../../colors.scss';

.article-details {
  position: fixed;
  top: 25%;
  left: 47.85%;
  transform: translate(-50%, -50%);
  background-color: $twitter-black;
  border: 1px solid #444;
  box-sizing: border-box;
  color: $twitter-white;
  padding: 0 0.8rem;
  width: 100%;
  max-width: 544px;
  z-index: 2;
  display: none;
}

.article-details__header {
  display: block;
  margin: 1rem 0;
}

.article-details__content {
  background-color: inherit;
  width: 100%;
  min-height: 9rem;
  border: none;
  box-sizing: border-box;
  color: $twitter-white;
  font-size: 1rem;
  outline: none;
  resize: none;
  cursor: pointer;
}

.article-details__date-create {
  font-size: 0.9rem;
  color: $twitter-dark-gray;
}

.article-details__exit-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  filter: grayscale(100%);
}

.article-details__more-button {
  position: absolute;
  top: 2rem;
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  filter: grayscale(100%);
}

.article-details__exit-button::before,
.article-details__exit-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: $twitter-red;
  opacity: 0;
  transition: all 0.3s ease;
}

.article-details__exit-button:hover::before,
.article-details__exit-button:hover::after {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.1;
}

.article-details__exit-button:hover {
  filter: grayscale(0%);
  transition: filter 0.5s ease;
}

.article-details__more-options {
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: $twitter-black;
  border: 1px solid $twitter-dark-gray;
  border-radius: 5px;
  box-shadow: 0 0 10px $twitter-black-alpha;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.article-details__more-options a {
  color: $twitter-white;
  text-decoration: none;
  padding: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.article-details__more-options a:hover {
  background-color: #444;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $twitter-black-alpha;
  display: none;
  z-index: 1;
}
