<div class="button-container">
  <button id="home-button" routerLink="/home">🏠 {{ 'HOME' | translate }}</button>
  <button *ngIf="isLoggedIn()" id="notifications-button" routerLink="/notifications">
    🔔 {{ 'NOTIFICATIONS' | translate }}</button>
  <button *ngIf="isLoggedOut()" id="login-button" routerLink="/auth/login">🔐 {{ 'LOGIN' | translate }}</button>
  <button (click)="logout()" *ngIf="isLoggedIn()" id="logout-button">🚪 {{ 'LOGOUT' | translate }}</button>
</div>
<div *ngIf="isLoggedIn()" class="user-info-container">
  <p class="full-name">{{ user.firstName + " " + user.lastName }}</p>
  <p class="username">@{{ user.username }}</p>
  <p (click)="refreshData('following', user)" [routerLink]="['/authors/following']" class="follow">
    {{ 'FOLLOWING' | translate }}: {{ user.following }}
  </p>
  <p (click)="refreshData('followers', user)" [routerLink]="['/authors/followers']" class="follow">
    {{ 'FOLLOWERS' | translate }}: {{ user.followers }}
  </p>
</div>
