@import '../../colors.scss';

button {
  width: 11rem;
  padding: 0.5rem 0.8rem;
  margin: 0.1rem 0;
  font-size: 1rem;
  color: $twitter-white;
  background-color: $twitter-black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  text-align: left;

  &:hover {
    background-color: $twitter-black-hover;
  }
}
