button {
  width: 8.5rem;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  color: white;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: #cc0000;
  }
}
