<div class="overlay"></div>

<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div>
    <label for="first-name">{{ 'FIRST_NAME' | translate }}</label>
    <input
      id="first-name"
      name="first-name"
      ngModel
      required
      type="text"
    />
  </div>
  <div>
    <label for="last-name">{{ 'LAST_NAME' | translate }}</label>
    <input
      id="last-name"
      name="last-name"
      ngModel
      required
      type="text"
    />
  </div>
  <div>
    <label for="username">{{ 'USERNAME' | translate }}</label>
    <input
      id="username"
      name="username"
      ngModel
      required
      type="text"
    />
  </div>
  <div>
    <label for="password">{{ 'PASSWORD' | translate }}</label>
    <input
      id="password"
      minlength="6"
      name="password"
      ngModel
      required
      type="text"
    />
  </div>
  <div>
    <button
      type="submit"
    >
      {{ 'SIGN_UP' | translate }}
    </button>
  </div>
  <div class="login-link">
    <p>{{ 'ASK_FOR_LOGIN' | translate }} <a routerLink="/auth/login">{{ 'LOGIN' | translate }}</a></p>
  </div>
</form>
