@import '../../../../colors.scss';

.article-card {
  position: relative;
  background-color: $twitter-black;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  border-top: none;
  box-sizing: border-box;
  color: $twitter-white;
  display: block;
  padding: 0.8rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

.article-card:hover {
  background-color: $twitter-black-hover;
}

.article-card__author-name {
  font-weight: 700;
  text-align: left;
  margin: 0 0 1rem 0;
}

.article-card__author-username {
  color: $twitter-dark-gray;
  font-weight: 500;
  text-align: left;
}

.article-card__content {
  background-color: inherit;
  width: 100%;
  border: none;
  box-sizing: border-box;
  color: $twitter-white;
  font-size: 1rem;
  outline: none;
  resize: none;
  cursor: pointer;
}

.article-card__article-id {
  display: none;
}

.article-card__actions {
  display: flex;
}

.article-card__like-container {
  position: relative;
  width: fit-content;
  font-size: 1.2rem;
  cursor: pointer;
  filter: grayscale(100%);
  color: #555;
  transition: color 0.5s ease, filter 0.5s ease;
}

.article-card__like-container:hover {
  filter: grayscale(0%);
  color: $twitter-red;
  z-index: 9;
}

.article-card__likes:hover {
  color: $twitter-red;
  transition: color 0.5s ease;
}

.article-card__likes {
  font-size: 1rem;
  margin-left: 5px;
}

.article-card__comment-container {
  position: relative;
  width: fit-content;
  cursor: pointer;
  filter: grayscale(100%);
  color: #555;
  transition: color 0.5s ease, filter 0.5s ease;
  margin-left: 1.5rem;

  &:hover {
    filter: grayscale(0%);
    color: $twitter-red;
  }
}

.article-card__comment-button {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding-bottom: 0.8rem;
}

.article-card__comments {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.article-card__like-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: $twitter-white;
  font-size: 12px;
  padding: 6px;
  border-radius: 4px;
  white-space: nowrap;
  text-align: left;
}

.article-card__like-tooltip-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card__like-container:hover .article-card__like-tooltip {
  visibility: visible;
  opacity: 1;
}
