<article (click)="openDetails($event)" class="article-card">
  <div class="article-card__header">
    <p class="article-card__author-name">
      {{ article.author.firstName }} {{ article.author.lastName }}
      <span class="article-card__author-username">@{{ article.author.username }} &bull; {{ article.elapsed }}</span>
    </p>
    <button (click)="followAuthor(article.author.id)" *ngIf="!article.author.isFollowed"
            class="article-card__follow-button">
      {{ 'FOLLOW' | translate }}
    </button>
    <button (click)="unfollowAuthor(article.author.id)" *ngIf="article.author.isFollowed"
            class="article-card__follow-button">
      {{ 'UNFOLLOW' | translate }}
    </button>
  </div>
  <p class="article-card__content">{{ article.text }}</p>
  <p class="article-card__article-id">{{ article.id }}</p>
  <div class="article-card__actions">
    <p class="article-card__like-container" id="article-card__like-container-{{article.id}}">
      <span (click)="likeArticle(article.id)"
            (mouseenter)="showLikes(article.id)"
            (mouseleave)="hideLikes(article.id)"
            class="article-card__like-button"
            id="like-button-{{article.id}}">❤️</span>
      <span class="article-card__likes" id="likes-{{article.id}}">{{ this.article.numOfLikes }}</span>
    </p>
  </div>
</article>

<article-details [article]="article"></article-details>
