<a #modal class="article-delete__modal">
  <div class="article-delete__modal-content">
    <h4>{{ 'DELETE_ASK' | translate }}</h4>
    <p>{{ 'DELETE_INFORMATION' | translate }}</p>
    <div class="article-delete__actions">
      <button (click)="confirm()" [routerLink]="['/home']"
              class="article-delete__btn article-delete__btn-confirm">{{ 'DELETE' | translate }}</button>
      <button (click)="cancel()"
              class="article-delete__btn article-delete__btn-cancel">{{ 'CANCEL' | translate }}</button>
    </div>
  </div>
</a>

<div #overlay (click)="close()" class="overlay-delete"></div>
