@import '../colors.scss';

#background {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;

  navigation-board {
    top: 2rem;
    left: -4rem;
    position: fixed;
    margin-right: 2rem;
  }

  main#main-board {
    min-width: 15rem;
    width: 100%;
    padding-left: 9rem;

    articles {
      flex-direction: column;
    }

    search-board {
      display: none;
    }
  }
}

#language-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $twitter-blue;
  color: $twitter-white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $twitter-blue-hover;
  }
}

/* Style for larger screens (desktop) */
@media screen and (min-width: 860px) {
  #background {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;

    navigation-board {
      position: sticky;
      top: 2rem;
      left: 0;
      width: 5rem;
    }

    main#main-board {
      padding-right: 1rem;
      padding-left: 5rem;
      max-width: 40rem;

      articles {
        flex-direction: row;
      }

      search-board {
        display: flex;
        position: sticky;
        top: 2rem;
        right: 0;
        padding-right: 1rem;
        width: 12rem;
      }
    }
  }
}
